@{
    ViewBag.Title = "管理页面";
    Layout = "~/Views/Shared/_easyui.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Content/LADScript/LADmenu.js")"></script>
<link type="text/css" href="@Url.Content("~/Content/LADStyle/css/default.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Content/LADScript/Logout.js")"></script>

<script type="text/javascript">
    var _menuse;
    var _menus;
    //var _menus = {
    //    "menus": [
    //    {
    //        "menuid": "1", "icon": "icon-sys", "menuname": "管理系列",
    //        "menus": [{ "menuid": "11", "menuname": "用户管理", "icon": "icon-nav", "url": "/Account/UserMain" },
    //                { "menuid": "12", "menuname": "商品管理", "icon": "icon-add", "url": "/SuperviseManagement/Commodity" }
                    
    //        ]
    //    }
    //    ]
    //};
    //初始化左侧
    function InitLeftMenu1() {

        //获取导航菜单
        $.ajax({
            type: "get",
            url: "/Account/GetMenuLeft",
            dataType: "html",
            async: false,
            success: function (Json) {
                //_menus = eval("(" + Json + ")");
                _menuse = Json;
                
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);   //弹出500
                alert(XMLHttpRequest.readyState);  //弹出4
                alert(textStatus);  //弹出 error
            }
        })

        _menus = eval('(' + _menuse + ')');;

        $(".easyui-accordion1").empty();
        var menulist = "";

        $.each(_menus.menus, function (i, n) {
            menulist += '<div title="' + n.menuname + '"  icon="' + n.icon + '" style="overflow:auto;">';
            menulist += '<ul>';
            $.each(n.menus, function (j, o) {
                menulist += '<li><div><a ref="' + o.menuid + '" href="#Razor" rel="' + o.url + '" ><span class="icon ' + o.icon + '" >&nbsp;</span><span class="nav">' + o.menuname + '</span></a></div></li> ';
            })
            menulist += '</ul></div>';
        })

        $(".easyui-accordion1").append(menulist);

        $('.easyui-accordion1 li a').click(function () {
            var tabTitle = $(this).children('.nav').text();

            var url = $(this).attr("rel");
            var menuid = $(this).attr("ref");
            var icon = getIcon(menuid, icon);

            addTab(tabTitle, url, icon);
            $('.easyui-accordion1 li div').removeClass("selected");
            $(this).parent().addClass("selected");
        }).hover(function () {
            $(this).parent().addClass("hover");
        }, function () {
            $(this).parent().removeClass("hover");
        });

        //导航菜单绑定初始化
        $(".easyui-accordion1").accordion();
    }

</script>
<body class="easyui-layout" style="overflow-y: hidden" scroll="no">
    @{CsiProgram.EFModel.T_SYS_USER user = Session["user"] as CsiProgram.EFModel.T_SYS_USER;}

    <noscript>
        <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
            <img src="../../Content/LADStyle/images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <!--  顶部内容 -->
    <div region="north" split="true" border="false" style="overflow: hidden; height: 80px;
        background: url(../../Content/LADStyle/images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;
        line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
        <span style="float:right; padding-right:20px;" class="head">欢迎：@user.NICKNAME <a href="javascript:void(0)" onclick="Logout();">退出登录</a></span>
        <span style="padding-left:10px; font-size: 16px; "><img src="../../Content/LADStyle/images/blocks.gif" width="20" height="20" align="absmiddle" /> LAD development team management platform</span>
    </div>

    <div region="south" split="true" style="height: 30px; background: #D2E0F2; ">
        <div class="footer">jay easyui+mvc+ef test</div>
    </div>
    <!--  顶部内容结束 -->
    <!-------------------------------------分割线------------------------------------------>
    <!--  导航内容 -->
    <div region="west" split="true" title="导航菜单" style="width:180px;" id="west">
        <div class="easyui-accordion1" fit="true" border="false">
            <!--  导航内容 -->
            jay easyui+mvc+ef test
        </div>
    </div>
    <!--  导航内容结束 -->
    <!-------------------------------------分割线------------------------------------------>
    <!--底部内容-->
    <div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home">
                <h1>Welcome to using The jQuery EasyUI!</h1>
                <h1></h1>
            </div>
        </div>
    </div>
    <!--底部内容结束-->
    <!-------------------------------------分割线------------------------------------------>
    @*<%-- <div id="mm" class="easyui-menu" style="width:150px;">
            <div id="mm-tabclose">关闭</div>
            <div id="mm-tabcloseall">全部关闭</div>
            <div id="mm-tabcloseother">除此之外全部关闭</div>
            <div class="menu-sep"></div>
            <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
            <div id="mm-tabcloseright">当前页右侧全部关闭</div>
            <div class="menu-sep"></div>
            <div id="mm-exit">退出</div>
        </div>--%>*@


</body>
